@font-face {
  font-family: "iconfont"; /* Project id 4833546 */
  src: url('iconfont.woff2?t=1740995377428') format('woff2'),
       url('iconfont.woff?t=1740995377428') format('woff'),
       url('iconfont.ttf?t=1740995377428') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gou:before {
  content: "\e63c";
}

.icon-chacha:before {
  content: "\e62f";
}

.icon-macos1:before {
  content: "\e602";
}

.icon-windows-fill:before {
  content: "\e882";
}

.icon-ios:before {
  content: "\e601";
}

.icon-anzhuo:before {
  content: "\e64d";
}

.icon-jingxuan:before {
  content: "\e643";
}

.icon-weibiaoti102:before {
  content: "\e63b";
}

.icon-jiantouanniu:before {
  content: "\e6d2";
}

.icon-txt:before {
  content: "\e613";
}

.icon-kucunjiancha:before {
  content: "\e60a";
}

.icon-icon-test:before {
  content: "\f037";
}

.icon-communication:before {
  content: "\e632";
}

.icon-txt1:before {
  content: "\e600";
}

.icon-lingsong:before {
  content: "\e764";
}

.icon-qiu:before {
  content: "\e76f";
}

.icon-TitleBar_Retrieve:before {
  content: "\e72a";
}

.icon-list-orderly:before {
  content: "\e673";
}

